footer{
    padding: 1%;
    background-color: rgb(155, 217, 233);
    text-align: center;
    color: black;

    ul{
        text-align: center;
    
        li{
            list-style: none;
            display: inline-block;
            margin-right: 50px;
            margin-bottom: 30px; 
            
        }
    }
}