/*Media Queries Tablet*/

@media screen and (max-width:1024px) { 

    .contenedor{
        display: grid;
        font-size:medium;
        text-align:center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "titulo2"
        "texto1"
        "img1"
        "texto2"
        "img2"
        "texto3"
        "img3";
    }
    
    .titulo2{
        margin-top: 3%;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0%;
        margin-left: 0%;
    }
    
    .img2{
        width: 50vh;
        height: 30vh;
        display: flex;
        margin-left: 20%;
        margin-right: 0%;
        border-radius: 2%;
        margin-top: 10%;
    }
    
    .texto2{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    .texto1{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    .img1{
        width: 50vh;
        height: 30vh;
        display: flex;
        margin-left: 20%;
        margin-right: 0%;
        border-radius: 2%;
        margin-top: 10%;
    }
    
    
    .img3{ 
        width: 50vh;
        height: 30vh;
        display: flex;
        margin-left: 20%;
        border-radius: 2%;
        margin-top: 10%;
    }
    
    .texto3{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    .logo img{
        width: 20%;
        height: 20%;
    }
    
    }
    /*Media Queries mobile*/
    
    @media screen and (max-width:480px) { 
    
    .logo img{
        width: 20%;
        height: 20%;
    } 
    
    
    .contenedor{
        display: grid;
        font-size:medium;
        text-align:center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "titulo2"
        "texto1"
        "img1"
        "texto2"
        "img2"
        "texto3"
        "img3";
    }
    
    .titulo2{
        margin-top: 3%;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0%;
        margin-left: 15%;
    }
    
    .img2{
        width: 45vh;
        height: 30vh;
        display: flex;
        margin-left: 5%;
        border-radius: 2%;
    }
    
    .texto2{
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 10%;
    }
    
    .texto1{
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 5%;
    }
    
    .img1{
        width: 45vh;
        height: 30vh;
        display: flex;
        margin-left: 5%;
        border-radius: 2%;
        margin-right:0%;
        margin-bottom: 3%;
    }
    
    
    .img3{ 
        width: 45vh;
        height: 30vh;
        display: flex;
        margin-left: 5%;
        border-radius: 2%;
    }
    
    .texto3{
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 10%;
    }
    
    footer{
        padding: 1%;
        background-color: rgb(155, 217, 233);
        text-align: center;
        color: black;
        padding-bottom: 3%;
    }
    
    footer ul li{
        list-style: none;
        display: inline-block;
        margin-right: 0px;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 0px; 
        margin-top:2%;
    }
    
    .imagen-texto1{
        padding-left:5%;
        padding-right:5%;
    }
    
    .nosotros{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: large;
        text-align: center;
    }
    
    .nosotrosimg{
        margin-left: 5%;
        margin-top: 4%;
        margin-bottom: 5%;
        width: 90%;
        height: 90%;
        border-radius: 2%;
    }
    
    }